<div class="modal-custom animated fadeIn fast"  [ngClass]="{'d-none': modalServ.hideModal }">

    <div class="modal fade show" 
        id="exampleModal" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="exampleModalLabel1" 
        style="display: block;">

        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">Detalle del personaje</h4>
                <button type="button" 
                        class="close" 
                        data-dismiss="modal" 
                        aria-label="Close"
                        (click)="modalServ.hideModal = true">
                        <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title mb-4"> {{ character.name }}</h5>
                      <p class="card-text"> <strong>Fecha de nacimiento</strong> {{character.birth_year}} </p>
                      <p class="card-text"> <strong>Altura</strong> {{ character.height}}</p>
                      <p class="card-text"> <strong>Color</strong> {{character.skin_color}} </p>
                      <p class="card-text"> <strong>Genero</strong> {{character.gender}} </p>
                      <p class="card-text"> <strong>Peso</strong> {{character.mass}} </p>
                      
                      
                    </div>
                  </div>

            </div>
            <div class="modal-footer">
             
            </div>
        </div>
        </div>
    </div>
</div>
