<div class="container text-center mt-4">
    <h1 class="title">Lista de personajes</h1>
    <small class="mb-4 d-block">(start-wars)</small>

    <!--search-->
    <div class="input-group mb-3 d-flex justify-content-center flex-wrap align-items-center gap-4">

      <input type="text" class="form-control" placeholder="Buscar por nombre" [(ngModel)]="search">

      <button class="btn-sm btn-primary ml-2" 
              (click)="searchPeople()">
              Buscar
      </button>
      
    </div>

    <select class="form-select form-select-sm mb-4" #order (change)="orderPeople(order.value)" [(ngModel)]="orderValue">
      <option selected value="">Ordenar por: </option>
      <option value="name">nombre</option>
      <option value="mass">peso</option>
      <option value="height">altura</option>
    </select>
  

    <!--card-->
    <div class="data" *ngIf="!loading && people.length > 0">

      <nav>
        <ul class="pagination justify-content-center">
  
          <li class="page-item" [ngClass]="{'disabled': !previousPageUrl}">
            <a class="page-link" href="#" tabindex="-1" (click)="previousPage()">Previous</a>
          </li>
  
          <li class="page-item" [ngClass]="{'disabled': !nextPageUrl}">
            <a class="page-link" href="#" (click)="nextPage()">Next</a>
          </li>
  
        </ul>
      </nav>

      <div class="d-flex justify-content-center flex-wrap mt-4 mb-4 gap-4" >
          <div class="card cursor" style="width: 12rem;" *ngFor="let i of people" (click)="onSelectPeople(i)">
              <img class="card-img-top" 
                  src="https://grupo-dragon.com.cn/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"> {{i.name}} </h5>
                <p class="card-text mt-4  "> <strong>Altura</strong> {{ i.height}}</p>
                <p class="card-text"> <strong>Peso</strong> {{i.mass}} </p>
              </div>
          </div>  
      </div>

      <!--pagination-->
      <nav>
        <ul class="pagination justify-content-center">

          <li class="page-item" [ngClass]="{'disabled': !previousPageUrl}">
            <a class="page-link" href="#" tabindex="-1" (click)="previousPage()">Previous</a>
          </li>

          <li class="page-item" [ngClass]="{'disabled': !nextPageUrl}">
            <a class="page-link" href="#" (click)="nextPage()">Next</a>
          </li>

        </ul>
      </nav>

    </div>

    <!--loading-->
    <div class="spinner-border loader" role="status" *ngIf="loading">
      <span class="sr-only" ></span>
    </div>
   
  </div>


  <app-modal [character]="character"></app-modal>