/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap')

body 
    font-family: 'Red Hat Mono', monospace
    
.loader
    width: 5em 
    height: 5em

.mt-5
    margin-top: 5em !important

.cursor
    cursor: pointer

.modal-custom
    background-color: rgba(0, 0, 0, 0.4)
    left: 0px
    height: 100%
    position: fixed
    top: 0px
    width: 100%
    z-index: 9999


